body {
    background-color: #000000;
    color: white;
    height: 800px;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: #FFFFFF
    /* no underline */
}

#header {
    position: relative;
    width: 100%;
    height: 25%;
    background: #000000;
    order: 1;
}

#logo_name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    row-gap: 100px;
}

#ilogo {
    position: absolute;
    width: auto;
    height: 50%;
    margin: 2%;
    transition-delay: 0s;
    transition-duration: 0.4s;
}

#logo {
    position: relative;
    width: 20%;
    height: 25%;
    left: 100px;
    padding-left: 2%;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    color: #FFFFFF;
    transition-delay: 0s;
    transition-duration: 0.3s;
}

#logo:hover {
    font-size: 70px;
}

#logo:hover~#ilogo {
    transform: scale(1.1);
}

#ilogo:hover~#logo {
    font-size: 70px;
}

.alg-name {
    position: absolute;
    width: 100%;
    top: 20%;
    text-align: center;
}

.graph {
    background: #cfcfcf;
    position: absolute;
    top: 80%;
    left: 50%;
    margin-top: -300px;
    margin-left: -500px;
    width: 1000px;
    height: 600px;
    overflow: auto;
    border-radius: 15px;
}